@mixin generate-columns($prefix, $columns) {
  @for $i from 1 through $columns {
    .col.#{$prefix}#{$i} { width: percentage($i / $columns); }
  }
}

@mixin generate-columns-on-breakpoint($width, $prefix, $columns) {
  @media only screen and (min-width: $width) {
    @include generate-columns($prefix, $columns);
  }
}

.col {
  display: block;
  width: 100%;
}

.col.center {
  text-align: center;
}

.col.fill {
  width: auto;
  flex-grow: 1;
}