.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row.center {
  justify-content: center;
}

.row.to-left {
  justify-content: flex-start;
}

.row.to-right {
  justify-content: flex-end;
}